name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 10 * * 5" # JST 19:00 (Fri)

env:
  RUBYOPT: -EUTF-8

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
        gemfile:
          - activesupport_5_0
          - activesupport_5_1
          - activesupport_5_2
          - activesupport_6_0
          - activesupport_6_1
          - activesupport_7_0
          - activesupport_7_1
          - activesupport_7_2
          - activesupport_8_0
          - activesupport_8_1
        exclude:
          # activesupport 7.2+ requires Ruby 3.1+
          - ruby:    "2.7"
            gemfile: activesupport_7_2
          - ruby:    "3.0"
            gemfile: activesupport_7_2

          # activesupport 8.0+ requires Ruby 3.2+
          - ruby:    "2.7"
            gemfile: activesupport_8_0
          - ruby:    "3.0"
            gemfile: activesupport_8_0
          - ruby:    "3.1"
            gemfile: activesupport_8_0
          - ruby:    "2.7"
            gemfile: activesupport_8_1
          - ruby:    "3.0"
            gemfile: activesupport_8_1
          - ruby:    "3.1"
            gemfile: activesupport_8_1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cache-version: 1

      - name: bundle update
        run: |
          set -xe
          bundle config path vendor/bundle
          bundle update --jobs $(nproc) --retry 3

      - name: Setup Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: before-build
        continue-on-error: true

      - run: bundle exec rspec
        timeout-minutes: 1

      - run: bundle exec ruby examples/all.rb
        timeout-minutes: 1

      - name: Teardown Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: after-build
        if: always()
        continue-on-error: true

      - run: bundle exec rubocop
        timeout-minutes: 1

      - run: bundle exec rake rubydoctest
        timeout-minutes: 1
        if: matrix.ruby >= '3.4' && matrix.gemfile >= 'activesupport_7_1'

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  all-pass:
    if: always()

    needs:
      - test

    runs-on: ubuntu-slim

    steps:
      - name: check dependent jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
